.producto{
    border: solid 1px;
    display:flex ;
    justify-content: baseline;
}
img{
    height: 100px;
    margin: 10px;
}
.produto__price{
    padding: 5px;
}
.btn{
    color: aliceblue;
    background-color: rgb(1, 99, 63);
    border-radius: 5%;
    padding: 3px;
}
