.footer {
    font-family: 'Luckiest Guy', cursive;
    /* padding-top: 60px;
    width: 100%; */
    color: rgb(0, 0, 0);
    /* bottom: 0; */
    /* min-height: 5%; */
    /* background: #212529; */
  }
  p{
    font-family: 'Luckiest Guy', cursive;
  }
  .menu h3{
    margin-top: 5px;
  }
  .imgLogo{
    margin-top: 25px;
    width: 30px;
  }
  .divcolor{   
      box-shadow: 0px 3px 3px 0px rgba(4, 113, 41, 0.2);
  }