.footer {
  width: 1300px;
  height: 170px;
  background-color: rgba(216, 4, 4, 0.826);
  font-family: 'Cabin', sans-serif;
  color: white;
  }
  p{
    margin-top: 10px;
    font-family: 'Cabin', sans-serif;
    }
  h3{
    margin-top: 25px;
  }
  .imgLogo{
    margin-top: 25px;
    width: 30px;
  }