
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    position: relative;
}


code {
  font-family: 'Cabin', sans-serif;
}
