
  .imgNavbar{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 6px 15px -5px rgba(0, 0, 0, 0.75); 
   }
   .imgNavbar:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: translateY(-1px);
    box-shadow: 3px 4px 10px rgba(216, 4, 4, 0.826);
     }
  .imgNavbarLogo{
    box-shadow: 5px 6px 15px -5px rgba(0, 0, 0, 0.75);
    width: 50px;
    border-radius: 50%;
  }
  .imgNavbarLogo:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: translateY(-1px);
    box-shadow: 3px 4px 10px rgba(216, 4, 4, 0.826);
     }