.formulario{
    padding: 100px;
}
.formulario2{
    padding: 100px;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.boton{    
    background-color: rgb(1, 99, 63);
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    font-size: larger;
}