.formulario{
    padding: 100px;
}
.formulario2{
    padding: 50px;
    box-shadow: 5px 5px 15px 1px rgba(4, 113, 41, 0.5);
    border-radius: 0.5rem;
}
.boton{    
    background-color: rgb(1, 99, 63);
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    font-size: larger;
}
